<h1><%= @recipe.name %></h1>

<p>Temps de cuisson : <%= @recipe.cooking_time %>min</p>
<p>Pour :
  <% if @recipe.party == 1 %>
    <%= @recipe.party %> personne
  <% else %>
    <%= @recipe.party %> personnes
  <% end %>
</p>

<h2>Ingredients</h2>

<ul>
  <% @recipe.doses.each do |dose| %>
    <li><%= dose.quantity %> <%= dose.unit %> <%= dose.ingredient.name %></li>
  <% end %>
</ul>

<%= link_to "Retour au dashboard", dashboard_path %>
