<h1>Liste des ingrédients</h1>
<h2><%= @recipe.name %></h2>

<% if @doses != nil %>
  <ul>
    <% @doses.each do |dose| %>
      <li><%= dose.quantity %> <%= dose.unit %> <%= dose.ingredient.name %></li>
    <% end %>
  </ul>
<% end %>

<%= render :file => '/doses/new' %>
